<html>
<center>
   <h1>Welcome to my super site</h1> 
   <h3>The hostname of this webserver is {{ ansible_hostname }}.</h3>
   <h3>It is running on {{ ansible_os_family }} system.</h3>
</center>
</html>
